
  <%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <tr>
        <th class="done" style="width: 2px">+</th>  
        <th colspan="3" class="projects">
            <%= f.text_field :name %>
            <!--<input type="text" placeholder="Start typing here to create a task">-->
        </th>
        <th id="submit">
        <%= f.submit %>
           <!-- <input type="submit" value="Add Task">-->
        </th>
    </tr>
  <% end %>
