<% @projects.each do |project| %>
  <table class="table table-hover">
    <thead>
    <!--PROJECTS-->
      <tr>
        <th class="done"><span class=""></span></th>
        <th colspan="2" class="projects" id= <%="project_name_#{project.id}"%> ><%= project.name %></th>

        <% @project_id = project.id %> <!-- Add Task to direct Project -->

        <%= hidden_field_tag(:projects, project.id) %>
        <th><%= link_to '', edit_project_path(project), remote: true, class: "glyphicon glyphicon-pencil edit_project_name", id: project.id %></th>
        <th><%= link_to '', project, class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Are you sure?' } %></th>
      </tr>
    </thead>

    <%= render 'form_for_add_task' %> 

    <tbody>
      <%= render 'form_for_filling_project_by_task' %> 
    </tbody>
  </table>
<br><br><br>

<% end %>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-1">
        <%= link_to 'Add ToDoList', new_project_path, class: "btn btn-success", id: "addTDL", title: "Создать новый проэкт" %>
    </div>
  </div>